.boardNode {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  margin: 0.5px;
  // border-radius: 5px;
  box-shadow: 0 2px 0 #bbb;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
