* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: #eaecef;
  display: flex;
}

#title {
  text-align: center;
  margin-top: 15px;
  font-size: 2.5rem;
  font-family: "Michroma", sans-serif;
}

#container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sliderContainer {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: center;

  h3 {
    font-family: sans-serif;
    margin-right: 2%;
  }
}

#animationSlider {
  width: 25%;
}
